<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>VHSes</title>
</head>
<script>
    async function getYear(title) {
        var response = await fetch("http://api.themoviedb.org/3/search/movie?api_key=75f0fd5d7038c16895f0b431d65ae8ec&query=" + title );
        var data = await response.json();
        var poster = document.getElementById("posterImg");
        poster.src = `https://image.tmdb.org/t/p/original/${data["results"][0]["poster_path"]}`;
        var year = document.getElementById("year");
        year.innerHTML = data["results"][0]["release_date"];
        var description = document.getElementById("description");
        description.innerHTML = data["results"][0]["overview"];
    }

    window.onload = function() {
        var movie = document.getElementById("title").innerText;
        var title = encodeURI(movie);
        getYear(title);
    };
</script>
<body>
    <div id="head">
        <h1><a href="/" class="head-a">VHS Shop</a></h1>
        <div class="links">
            {% if session_id != 0 %}
                <a href="/new" class="head-a">Add VHS</a>
                <a href="/account" class="head-a">Account</a>
            {% else %} 
                <a href="/register" class="head-a">Register</a>
            {% endif %}
            {% if session_id != 0 %}
                <a href="/logout" class="log">Log Out</a>
            {% else %} 
                <a href="/login" class="log">Login</a>  
            {% endif %}
        </div>
    </div>
    <div id="container-pages">
        <h3 id="title">{{ vhs.title }}</h3>
        <p>Posted by: {{ vhs.poster.first_name }} {{ vhs.poster.last_name }}</p>
        <img src="" id="posterImg">
        <p>Release Date:</p>
        <p id="year"></p>
        <p>Description:</p>
        <p id="description"></p>
        <p>Date Posted:</p>
        <p>{{ vhs.updated_at.strftime("%B %d, %Y") }}</p>
        <p>Price:</p>
        <p>{{ vhs.price }}</p>
        <div class="btn-margin">
        {% if vhs.owner_id != vhs.poster_id %}
            <p></p>
        {% elif session_id < 1 %}
            <p></p>
        {% elif session_id == vhs.owner_id %}
            <a href="/edit/{{ vhs.id }}" class="buy-edit">Edit</a> 
        {% else %}
            <a href="/buy/{{ vhs.id }}" class="buy-edit">Buy</a> 
        {% endif %}
        </div>
    </div>
</body>
</html>